body {
  background-color: #e8ecef;
  background-image: url(http://www.transparenttextures.com/patterns/low-contrast-linen.png);
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
