
body {
  background-color: #e8ecef;
  background-image: url(http://www.transparenttextures.com/patterns/low-contrast-linen.png);
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.image{
  size: 200px;
}

.display-3{
  font-size: 50px;
  font-weight: 600;
}

.container{
  display: block;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 400px;
  width: 800px;
}